@charset "UTF-8";

/* GERAL */
header {
    margin-bottom: 20px;
}

.headerContainer>a {
    overflow-y: hidden;
    margin: auto 0px auto 10px;
    height: 50%;
}

.headerContainer img {
    margin: 0;
    height: 100%;
}

.noContentText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 318px);
}

/* MAIN */
section {
    text-align: center;
}

section h1 {
    font-size: 1.8em;
    width: 90vw;
    margin: 0px auto 15px auto;
    text-decoration: underline;
}

section p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 85vw;
    margin: 0px auto 40px auto;
}

.noCustomizedList li>p {
    margin-bottom: 5px;
}

.returnHome {
    display: flex;
    align-items: center;
    color: black;
    font-size: 0.7em;
    margin: 0px 0px 20px 10px;
}

.returnHome span {
    overflow-y: hidden;
}

/* FIM DO GERAL */

/* MATERIAIS E GALERIA*/
.downloadArea {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.downloadArea a {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    color: black;
    width: 370px;
    height: 50px;
    font-size: 1.1em;
    border-radius: 10px;
}

.downloadArea>a span {
    overflow-y: hidden;
}

.download {
    background-color: rgba(128, 128, 128, 0.7);
}

.yellowDownload {
    background-color: rgb(240, 225, 0);
}

.blueDownload {
    background-color: rgb(0, 0, 250);
}

.redDownload {
    background-color: rgb(200, 0, 0);
}

/* FOOTER */
.infArea {
    margin-top: 47.5%;
}

.fundArea {
    margin-top: 62%;
}