@charset "UTF-8";

@font-face {
  font-family: "Creato";
  src: url(../fonts/CreatoDisplay-Regular.otf);
  src: url(../fonts/CreatoDisplay-Bold.otf);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Creato";
}

.marked {
  color: yellow;
  text-decoration: underline;
}

/* HEADER */
.headerContainer {
  display: flex;
  width: 100vw;
  height: 80px;
  flex-shrink: 0;
  background-color: #555660;
}

.headerContainer img {
  width: 64px;
  height: 64px;
  margin: 9px 0px 10px 10px;
}

.headerContainer span {
  display: flex;
  overflow: hidden;
  color: white;
  margin-left: auto;
  padding-right: 35px;
  font-size: 2.2em;
  flex-direction: row-reverse;
  align-content: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}

nav ul {
  display: none;
  position: absolute;
  z-index: 9999;
  right: 0;
  width: 100vw;
  background-color: #555660;
  list-style-type: none;
  margin-bottom: 40px;
}

nav > ul a { text-decoration: none; }

nav > ul li, nav > ul > li a {
  text-align: center;
  padding: 15px;
  border-top: 1px solid white;
  text-decoration: none;
  color: white;
}

/* MAIN */
/* CAROUSEL */
.carouselContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.slider {
  margin: 0 auto;
  width: 100vw;
  overflow: hidden;
}

.slides {
  width: 400%;
  display: flex;
  overflow: hidden;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 2s;
}

.slide img,
.slide {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

.manual-navigation {
  position: absolute;
  width: 100vw;
  margin-top: -20px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.05s;
}

.manual-btn:not(:last-child) {
  margin-right: 20px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100vw;
}

#radio3:checked ~ .first {
  margin-left: -200vw;
}

/* DEPOIMENTOS */
.depositionsContainer {
  text-align: center;
  margin-bottom: 40px;
}

.depositionsContainer h1 {
  margin-bottom: 10px;
  font-size: 1.8em;
}

/* NÍVEIS DE ENSINO */
.educationLevelsContainer {
  width: 330px;
  height: 150px;
  display: flex;
  margin: auto;
  margin-bottom: 40px;
  background-color: #80808050;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
}

.childishContainer,
.elementaryContainer,
.highContainer {
  display: flex;
  height: 100%;
  width: 12.5%;
  align-items: center;
}

.childishContainer p,
.elementaryContainer p,
.highContainer p,
.educationTextContainer p {
  text-align: center;
  width: 100%;
}

.childishContainer {
  background-color: #ffff00;
}

.elementaryContainer {
  background-color: #0000ff;
}

.highContainer {
  background-color: #ff0000;
}

.educationTextContainer {
  display: flex;
  width: 62.5%;
  height: 100%;
  align-items: center;
}

.expanded {
  width: 35%;
  transition: width 0.5s ease-in-out;
  text-align: center;
}

.contracted {
  transition: width 0.5s ease-in-out;
}

/* EVENTOS */
.events {
  text-align: center;
  margin-bottom: 40px;
}

.events h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.eventsContainer {
  display: flex;
  width: 370px;
  height: 180px;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: auto;
  border-radius: 25px;
  background-color: #80808050;
}

.eventContent {
  height: 80%;
  width: 25%;
  border-radius: 20px;
  background-color: #0087e8;
}

.eventContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100%;
  width: 100%;
}

/* FOOTER */
.social,
.credits,
.infos {
  display: flex;
  height: 50px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #555660;
  border-top: 2px solid white;
  color: white;
  font-size: 9.6px;
  font-weight: normal;
}

.infos p,
.credits p {
  padding: 5px;
}

.infos a {
  color: white;
}
